/*
!.gitignore
!trainer.py
!train.py
!empirical_var.pt
!dataset_preparation.py
!test.py
!README.md
!LICENSE
!requirements.txt

!Dataset
Dataset/*
!Dataset/*.py
Dataset/datapath.py

!Loss
Loss/*
!Loss/*.py

!Model
Model/*
!Model/*.py

!Utils
Utils/*
!Utils/*.txt
!Utils/*.py
